*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #4B4E53;
    background: linear-gradient(105deg, #4B4E53 5%, #000000 74%,0.6) !important;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #1d2026;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #1d2026;    
    border-radius: 20px;       
    border: 3px solid cadetblue;  
  }

.header{
    background-color: #1d2026;
    color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding: 1% 3%;

}

.header a{
    color: white;
    text-decoration: none;
}

.navbar ul{
    display: flex;
    align-items: center;
    margin-left: 40%;
    
}

.navbar ul li{
    list-style: none;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 1%;
}

.navbar ul li:hover{
    transform: scale(1.1);
}

.navbar-brand a h1{
    font-size: 32px;
}

.navbar-brand a h1::first-letter{
    font-size: 40px;
    font-style: italic;
    color:cadetblue;
}

.header{
    padding-left: 10%;
}

.cont{
    width: 28%;
    border: solid 1px black;
    border-radius: 5%;   
    
}
.cont a h1{
    background-color: #fff;
    color: #1d2026;
    
}

/*---------------------main-section-------------------------*/

.section-1{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 3% 6%;
    background-color: #4B4E53;
    color: #fff;

}


.sec-left{
    display: flex;
    align-items: center;
}

.sec-right{
    opacity: 0.9;
    font-size: 24px;
}

.poster{
    width: 100%;
    background-color:#4B4E53 ;
}

.poster img{
    height: 80%;
    width: 70%;
    margin: 2% 15%;
}

.location{
    background-color: #4B4E53;
    color: #fff;
    display: flex;
    justify-content: center;
}
.con h1{
    margin-left: 27%;
    margin-bottom: 5%;
}
.con{
    margin-bottom: 2%;
}



/*-------------footer-----------------------*/

.conta{
    background-color: #1d2026;
    background: linear-gradient(105deg, #4B4E53 5%, #000000 74%,0.6) !important;
     width: 100vw;
    
}

footer{
    margin: 0 2% 0 2%;
    color: #fff;
}
.foot-sec{
    margin-left: 7%;
}